<?xml version="1.0" encoding="utf-8"?>
<config>
    <URI_SCHEME>https</URI_SCHEME>
    <SERVER>ruralhealth.johnkendall.net</SERVER>
    <PORT>443</PORT>
    <API_CONTEXT>/ruralhealthdirectoryservice</API_CONTEXT>
    <HEALTH_SERVICE_RESOURCE>/healthservices</HEALTH_SERVICE_RESOURCE>
    <ADDRESS_RESOURCE>/address</ADDRESS_RESOURCE>
    <CATEGORIES_RESOURCE>/categoryForeignCollection</CATEGORIES_RESOURCE>
    <COORDINATES_RESOURCE>/coordinates</COORDINATES_RESOURCE>
    <STATIC_CONTENT_ENDPOINT>https://s3-ap-southeast-2.amazonaws.com/ruralhealth</STATIC_CONTENT_ENDPOINT>
</config>